	.span-half {
		width: 100%;
//		float: none;
		display: inline;
		clear: both;
		margin: 0;
		padding: 0;
		img { margin-bottom: 0; }
	}

@for $i from 1 through 10  {
	.span-#{$i} { 
		width: 100%;
		float: none;
	}

	.post-#{$i} {
		margin-right: 0;
	}

	.pre-#{$i} {
		margin-left: 0;
	}

	.top-#{$i} { 
		margin-top: 0;
	}
	
	.pull-#{$i} {
		margin-top: 0
	}

	.omega {
		float: none
	}
}




.formatted-post, .home-content, #single-project {

	.span-half {
		width: 100%;
//		float: none;
		display: inline;
		clear: both;
		margin: 0;
		padding: 0;
		img { margin-bottom: 0; }
	}
	

	@for $i from 1 through 15  {
		.span-#{$i} { 
			width: 100%;
			float: none;
			display: block;
			br { display: none } 
		}

		.post-#{$i} {
			margin-right: 0;
		}

		.pre-#{$i} {
			margin-left: 0;
		}

		.top-#{$i} { 
			margin-top: 0;
		}
		
		.pull-#{$i} {
			margin-top: 0
		}

		.omega {
			float: none
		}
	}

}


