doctype html
html
	head
		title smoking room
		link(rel='stylesheet' href='css/main.css')

	body
		div.container
			header
				h1 smoking room

			section#own
				div
					h2 type message
					textarea#message
					button#send send
				div
					h2 choose mouth
					ul#mouth-list.list
						li
							img(src='img/mouth1.gif')
						li
							img(src='img/mouth2.gif')
						li
							img(src='img/mouth3.gif')
				div
					h2 choose e-cig
					ul#cig-list.list
						li
							img(src='img/cig1.png')
						li
							img(src='img/cig2.png')

				div
					h2 avatar
					canvas#canvas(width='320' height='240')

				div
					h2 set username
					input(type='text')#user-field
					button#username-btn go

			section#others
				h2 messages
				div#chat-entries


				h2 online users
				div#user-list


		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='socket.io/socket.io.js')
		script(src='js/main.js')
