doctype html
html
	head
		title smoking room
		link(rel='stylesheet' href='css/smoking-main.css')

	body
		div.container

			section#intro
				div#intro-wrap
					h1.site-title Welcome to <br> The e-smoking room

					div.module#selection
						p.module-title Enter your name,<br> choose an e-cig <br> and start vaping

						div#set-username.box
							input(type='text' placeholder='What\'s your name?')#username
						div#set-cig.box
							h2.module-title Which cigarette?
							ul#cig-list.list
								li.cig.selected
									img(src='img/cig1.png')
								li.cig
									img(src='img/cig2.png')
								li.cig
									img(src='img/cig3.png')

					div#set-avatar.module.box
						div#webcam

						div#canvas-container
							canvas#canvas(width='300' height='420')
						div#canvas-container2
							canvas#canvas2(width='300' height='420')

						div#make-avatar.btn Snap
						button#ready-go.btn I'm ready

			section#room
				ul#user-list

			canvas#smoke-window(width='512' height='512' style='position: absolute; right: 0; top:0; z-index: 1; width: 512px; height: 512px')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='socket.io/socket.io.js')
		script(src='components/getUserMedia.js/lib/getUserMedia.js')
		script(src='components/getUserMedia.js/face-detection-demo/js/glasses/ccv.js')
		script(src='components/getUserMedia.js/face-detection-demo/js/glasses/face.js')
		script(src='js/webcam.js')
		script(src='js/smoke.js')
		script(src='js/smoke2.js')
		script(src='js/templates.js')
		script(src='js/sockets.js')
		script(src='js/main.js')
