doctype html
html
	head
		title smoking room
		link(rel='stylesheet' href='css/main.css')

	body
		div.container
			header
				h1 smoking room

			section#own
				div
					h2 type message
					textarea#message
					button#send send
				div
					h2 make avatar
					div#webcam
					button#make-avatar make avatar
					button#vitamin extra vitamin c

				div
					h2 avatar
					canvas#canvas(width='320' height='240')

				div
					h2 set username
					input(type='text')#user-field
					button#username-btn go

			section#others
				h2 messages
				div#chat-entries


				h2 online users
				div#user-list


		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='bower_components/getusermedia.js/lib/getUserMedia.js')
		script(src='socket.io/socket.io.js')
		script(src='js/main.js')
