doctype html
html
	head
		title smoking room
		link(rel='stylesheet' href='css/main.css')

	body
		div.container
			header
				h1.site-title rhizome smoking room

			section#set-up
				div.module
					div#set-username.module
						p select your username, e-cigarette and take a selfie
						h2 set username
						input(type='text')#username
						button#username-btn go
					div#set-cig.module
						h2 choose your e-cig
						ul#cig-list.list
							li.cig.selected#cig3
								img(src='img/cig3.png')
							li.cig#cig2
								img(src='img/cig2.png')
							li.cig#cig1
								img(src='img/cig1.png')
				div#set-avatar.module
					h2 strike a pose
					div#webcam

					div#canvas-container
						canvas#canvas(width='300' height='420')
					button#make-avatar make avatar

				div#confirm-avatar.module
					h2 avatar
					div#canvas-container2
						canvas#canvas2(width='300' height='420')

				button#ready-go my body is ready

			section#room
				ul#user-list


		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='socket.io/socket.io.js')
		script(src='components/getUserMedia.js/lib/getUserMedia.js')
		script(src='components/getUserMedia.js/face-detection-demo/js/glasses/ccv.js')
		script(src='components/getUserMedia.js/face-detection-demo/js/glasses/face.js')
		script(src='js/webcam.js')
		script(src='js/templates.js')
		script(src='js/smoke.js')
		script(src='js/main.js')
